{% extends 'authentication/layout.html' %}
{% load static %}
{% block title %}Вход{% endblock %}
{% block content %}
    <section class="main">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3 ">
                <label for="exampleInputPhone1" class="form-label">Логин</label>
                {{ form.phone }}
                <div id="phoneHelp" class="form-text">Номер телефона должен соответствовать формату +79999999999</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Пароль</label>
                {{ form.password }}
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
            </div>
            <div class="col text-end">
                <button class="btn btn-primary" type="submit">Войти</button>
                <a class="btn btn-outline-primary me-2" href="{% url 'register' %}" role="button">Зарегистрироваться</a>
            </div>
            <span class="error_span">{{ error }}</span>
        </form>
    </section>
{% endblock %}