{% extends 'authentication/layout.html' %}
{% load static %}
{% block title %}Вход{% endblock %}
{% block content %}
    <section class="main">
        <form>
            <div class="mb-3">
                <label for="InputPassword1" class="form-label">ФИО</label>
                <input type="text" class="form-control" placeholder="Иванов Сергей Иванович" id="InputPassword1">
            </div>
            <div class="mb-3">
                <label for="InputPhone1" class="form-label">Номер телефона</label>
                <input type="tel" class="form-control" id="InputPhone1" placeholder="+79774717727" aria-describedby="emailHelp">
                <div id="phoneHelp" class="form-text">Номер телефона должен соответствовать формату +79999999999</div>
            </div>
            <div class="mb-3">
                <label for="InputPassword1" class="form-label">Пароль</label>
                <input type="password" class="form-control" placeholder="Введите пароль" id="InputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberCheck1">
                <label class="form-check-label" for="rememberCheck1">Запомнить меня</label>
            </div>
            <div class="col text-end">
                <a class="btn btn-primary" href="{% url 'main' %}" role="button">Зарегистрироваться</a>
            </div>
        </form>
    </section>
{% endblock %}