{% extends 'authentication/layout.html' %}
{% load static %}
{% block title %}Вход{% endblock %}
{% block content %}
    <section class="main">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="InputFIO" class="form-label">ФИО</label>
                {{ form.name }}
            </div>
            <div class="mb-3">
                <label for="InputPhone" class="form-label">Номер телефона</label>
                {{ form.phone }}
                <div id="phoneHelp" class="form-text">Номер телефона должен соответствовать формату +79999999999</div>
            </div>
            <div class="mb-3">
                <label for="InputPassword" class="form-label">Пароль</label>
                {{ form.password }}
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberCheck">
                <label class="form-check-label" for="rememberCheck">Запомнить меня</label>
            </div>
            <span class="error_span">{{ error }}</span>
            <div class="col text-end">
                <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
            </div>
            <div class="mb-3 has_account">
                Уже есть аккаунт?
                <a href="{% url 'login' %}">Войти</a>
            </div>
        </form>
    </section>
{% endblock %}