{% load static %}
<div class="col">
    <div class="card shadow-sm">
        <img class="card-img-top" src="{% static 'main/img/begonia_pic.jpg' %}" alt="plant picture">
        <div class="card-body">
            <p class="card-text">Бегония dragonfruit</p>
            <div class="d-flex justify-content-between align-items-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Перейти в каталог</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Добавить в корзину</button>
                </div>
            </div>
        </div>
    </div>
</div>