main {
    margin-top: 6em;
    text-align: center;
    background: gainsboro;
}

main main{
    text-align: center;
    background: gainsboro;
    margin-left: 240px;
}

.d-block{
    padding-right: 16px;
}

.dropdown-menu.dropdown-menu-lg-start.text-small.show{
    right:0;
    left: auto;
    width: auto;
}

.username{
    color: white;
    margin-right: 18px;
}